$om_orange_color:  #FE5245; //Default color
$om_orange_color1: #DF3226;
$om_orange_color2: #C02116;
$om_orange_color3: #FF675C;
$om_orange_color4: #FFB3AE;
$om_orange_color5: #FFECEB;

$om_yellow_color:  #FDC421; //Default color
$om_yellow_color1: #F2B202;
$om_yellow_color2: #B88700;
$om_yellow_color3: #FDD35D;
$om_yellow_color4: #FEEEC2;
$om_yellow_color5: #FFF6E8;

$om_black_color:   #212121; //Body color;
$om_black_color1:  #757575;
$om_black_color2:  #848484;
$om_black_color3:  #e9e9e9;
$om_black_color4:  #919191;
$om_black_color5:  #F3F3F6;

$om_red_color:     #D60000;
$om_red_color1:    #fff4f4;

$om_blue_color:     #0D168D;
$om_blue_color1:    #ECEDFD;

$om_green_color:     #097000;
$om_green_color1:    #ECFFEB;

$om_alert_color:    #B68602;


$link_color: $om_black_color;
$body_color: $om_black_color;
$body_fontsize: 16;
$font_family: 'Inter', sans-serif;

$tablet_dimension: 920px;
$mobile_dimension: 765px;

//Header
$header_height: 85;
$header_background: #FFF;

//Burger
$burger_size: 24;
$burger_textsize: 10;
$burger_top: 30;
$burger_color: $om_orange_color;
