@use "reset.scss";
@use "config.scss";
@use "mixins.scss";

//Global styles
p {
  @include rem(margin, 8 0);
}

body{
  font-family: $font_family;
  color: $body_color;
  @include rem(font-size, 14);
}

a {
  color: $om_black_color;
  &:hover{ text-decoration: none;}
}

label {
  font-weight: 700;
  @include rem(margin-bottom, 8);
}

input[type=email], input[type=password], input[type=tel],
input[type=text], input[type=number] {
  max-width: 100%;
  background: #fff;
  border: #{pxToRem(1)}rem solid $om_black_color2;
  @include rem(margin, 0 5 5 0);
  @include rem(min-height, 42);
  @include rem(border-radius, 8);
  @include rem(padding, 0 12);

  &:focus-visible{
    @include focusForm($om_orange_color);
  }
}

//Global classes
.required {
  color: $om_red_color;
}

.sr_only {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  top: -10000px;
}

.om_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: $om_orange_color1;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  @include rem(min-height, 42);
  @include rem(padding, 0 12);
  @include rem(border-radius, 10);

  &:hover{
    background: $om_orange_color2;
  }
}

//Global Classes for containers
.om_container_noheader {
  @include rem(padding, 20);
}

.om_form {
  &_section {
    display: flex;
    flex-direction: column;
    @include rem(margin-bottom, 8);
  }
  
  &_group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    @include rem(gap, 8);
    .om_form_section{
      flex: 1;
    }
  }

  &_buttons {
    display: flex;
      @include rem(margin-top, 30);
  }

  &_error {
    font-weight: 600;
    @include rem(margin, 5 0);
    color: $om_red_color; 
  }
}


//Backgrounds
.om_yllback_def {background: $om_yellow_color;}
.om_orangback_def {background: $om_orange_color;}
.om_yllback_light {background: $om_yellow_color5;}
.om_orangback_light {background: $om_orange_color5;}


/****************************************************/
//Icons
//The way that we are calling all our icons .svg
[class*="om_icon_"]{
  @include svgIcon();
}

.icon_large {
  @include iconSize("large");
}

//All icons chargement
.om_icon_bee::before {mask-image: url("../images/icons/bee_icon.svg");}
.om_icon_info::before {mask-image: url("../images/icons/info_icon.svg");}
.om_icon_error::before {mask-image: url("../images/icons/error_icon.svg");}
.om_icon_sucess::before {mask-image: url("../images/icons/check_icon.svg");}
.om_icon_alert::before {mask-image: url("../images/icons/alert_icon.svg");}
.om_icon_chevron_right::before {mask-image: url("../images/icons/chevron_right.svg");}
.om_icon_exit::before {mask-image: url("../images/icons/signout.svg");}
.om_icon_search::before {mask-image: url("../images/icons/search_icon.svg");}
.om_icon_all::before {mask-image: url("../images/icons/all_icon.svg");}
.om_icon_stroller::before {mask-image: url("../images/icons/stroller_icon.svg");}
.om_icon_crib::before {mask-image: url("../images/icons/crib_icon.svg");}
.om_icon_cartoy::before {mask-image: url("../images/icons/cartoy_icon.svg");}
.om_icon_clothes::before {mask-image: url("../images/icons/clothes_icon.svg");}