@use "sass:meta";
@use "sass:math";
@use "sass:list";

/*
    MIXIN FOR PX TO REM
*/
@function pxToRem($value){
    $base_value: 16;
    $list_values:();

    @if meta.type-of($value) == "list" {
        @each $val in $value {
            @if math.unit($val) != "%" and math.floor($val) == $val {
                $value_rem: math.div($val, $base_value);
                $list_values: list.append($list_values, $value_rem);
                
            } @else {
                @error "Error: The value #{$val}  is not a valid number.";
            }
        }
        @return $list_values;
        
    } @else {
        @if math.floor($value) == $value and math.unit($value) != "%" {
            $new_value_rem: math.div($value, $base_value);
            @return $new_value_rem;
        }
    }
    
}

@mixin rem($rule, $value){
    @if $rule != "" {
        $rem_value: pxToRem($value);

        @if meta.type-of($rem_value) == "list"{
            $values:();
            @each $val in $rem_value {
                $values: list.append($values, #{$val}rem);
            }
            #{$rule}: $values;

        }@else{
            #{$rule}: #{$rem_value}rem;
        }
    }
}

/*
    DECO
*/
@mixin selectedLine($bottom, $width, $height, $color){
    content: "";
    position: absolute;
    @include rem(bottom, $bottom);
    left: 50%;
    transform: translateX(-50%);
    width: $width;
    @include rem(height, $height);
    background: $color;
}

/*
    FOCUS VISIBLE
*/
@mixin focusForm($color){
    outline: #{pxToRem(3)}rem solid $color;
    @include rem(outline-offset, -3);
}


/*
    MIXING FOR ICON
*/

//Type: Size
@mixin iconSize($type){
    display: inline-flex;
    @include rem(border-radius, 50);
    @if $type == "large" {
        //For Large icon
        @include rem(width, 50);
        @include rem(height, 50);
    }
}

@mixin svgIcon($position: before) {
    &::#{$position} {
        content: '';
        vertical-align: middle;
        display: inline-block;
        mask-position: center;
        mask-repeat: no-repeat;
        @include rem(mask-size, 16);
        @include rem(width, 16);
        @include rem(height, 16);
        background: #000;
    }
}

@mixin svgSize($size, $position:before){
    &::#{$position}{
        @include rem(mask-size, $size);
        @include rem(width, $size);
        @include rem(height, $size);
    }
}

@mixin svgColor($color, $position:before){
    &:#{$position}{
        background: $color;
    }
}

/*
    LOAD FONTS
*/
@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter-Variable.woff2') format('woff2');
    font-weight: 100 900; // Rango de pesos
    font-style: normal;
}